body{
	background-image: url("fondo.jpg");
	background-repeat: no-repeat;
	background-size: 600px

}

.uno {
	border-radius: 0px;
	border: 0px;
	position: absolute;
	height: 19px; width: 130px;
	left: 183px; top: 142px;
}

.dos {
	border-radius: 0px;
	border: 0px;
	position: absolute;
	height: 19px; width: 130px;
	left: 183px; top: 185px;
}

.tres {
	border-radius: 0px;
	border: 0px;
	position: absolute;
	height: 19px; width: 130px;
	left: 183px; top: 228px;
}

.cuatro {
	border-radius: 0px;
	border: 0px;
	position: absolute;
	height: 19px; width: 130px;
	left: 183px; top: 271px;
}

.cinco {
	border-radius: 0px;
	border: 0px;
	position: absolute;
	height: 86px; width: 130px;
	left: 183px; top: 311px;
}
